@import '../constants.scss';

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: linear-gradient(135deg, $grey-light, darken($grey-light, 18%));
  box-shadow: inset 0 0 60px rgba(0,0,0,.25);
  user-select: none;
}

button {
  width: 60px;
  border-radius: 18px;
  padding: 15px 18px;
  font-size: 1.5em;
  text-align: center;
  background: $grey;
  cursor: pointer;

  span {
    position: relative;
    top: 0;
    transition: .15s top;
  }

  &:active {
    span {
      top: 3px;
    }
  }
}
