#keypad {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;

  #clear {
    width: 200px;
    order: 0;
  }

  #divide {
    order: 1;
  }

  #seven, #eight, #nine {
    order: 2;
  }

  #multiply {
    order: 3;
  }

  #six, #four, #five {
    order: 4;
  }

  #subtract {
    order: 5;
    span {
      display: inline-block;
      transform: scale(2,1);
    }
  }

  #three, #two, #one {
    order: 6;
  }

  #add {
    order: 7;
  }

  #zero {
    width: 130px;
    order: 8;
  }

  #decimal {
    order: 9;
  }

  #equals {
    order: 10;
  }
}
