// Typeface
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Color Palette
$white: #F2F6F7;
$grey-light: #DEDFE3;
$grey: #5C6779;
$dark-grey: #3E4555;
$orange: #DF861E;
